body {
    background-color: #856404;
    font-family: 'Charm', cursive;
}

a {
    color: #5a2d0c;
    text-decoration: none;
}
.btn-primary {
    color: #f8f9fa;
    background-color: #c99a12;
    border-color: #ffc107;
}

.bg-soft-yellow{
    background-color: #e7e0c9d1;
}
.bg-white{
    background-color: white;
}

.margin-top{
    margin-top: 15px;
}

.list-group-item {
    background-color: #ffffff00;
}

.padding-2px{
    padding-bottom: 2px;
}

/*----------------------------------------------------------------- HOME*/
.home-container {
    background-image: url('../images/Good_Food_Display.jpg');
    height: 50vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 0;
}

.title-cookbook {
    background-color: white;
    color: black;
    text-shadow: 5px 5px 10px black;
    letter-spacing: 3px;

}

.title-cook-today {
    color: white;
    text-shadow: 5px 5px 10px black;
}

.container-section-home {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-featured-recipe{
    margin-top: 15px;
    margin-bottom: 15px;
}
.container-category img {
    
    width: 500px;
    height: 300px;
}


/*--------------------------------------------------------------- Recipe List*/

.title-category-image {
    height: 50vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 0;
}

.container-recipe {
    padding-top: 10px;
    padding-bottom: 10px;
}
.container-recipe img {
    width: 200px;
    height: 150px;
}



/*----------------------------------------------------------------- The recipe*/
.recipe-title img {
    height: 33vh;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 0;
}

.border-bottom {
    border-bottom: 1px solid #ffc107!important;
}

.border-top {
    border-top: 1px solid #ffc107!important;
}

.container-the-recipe{
    background-color: white;
}

/*--------------------------------------------------- Add-edit Recipe*/
.add-title-container{
    background-image: url('../images/condiments.jpg');
    height: 50vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 0;
}

.container-add-recipe{
    margin: 0;
} 

/*----------------------------------- MEDIA QUERIES*/


/* -- Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .recipe-title img {
    height: 50vh;
    }
}
/* --Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    .recipe-title img {
    height: 80vh;
    }
}


/* ---Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
   .order-first {
       order: 1;
   }
}