body {
    background-color: #e3db56;
    
}

button a {
    text-decoration: none;
    color: white;
}

.margin-top{
    margin-top: 15px;
}

.list-group-item {
    background-color: #ffffff00;
}

/*----------------------------------------------------------------- HOME*/
.home-container {
    background-image: url('../images/Good_Food_Display.jpg');
    height: 50vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 0;
}

.title-cookbook {
    background-color: white;
    color: black;
    text-shadow: 5px 5px 10px black;
    letter-spacing: 3px;

}

.title-cook-today {
    color: white;
    text-shadow: 5px 5px 10px black;
}

.container-category {
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-category img {
    
    width: 500px;
    height: 300px;
}


/*--------------------------------------------------------------- Recipe List*/

.title-category-image {
    height: 50vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 0;
}

.container-recipe {
    padding-top: 5px;
    padding-bottom: 5px;
}
.container-recipe img {
    width: 200px;
    height: 150px;
}

/*------------------------------------------------------------ All Recipe List*/
.bg-soft-yellow{
    background-color: #e7e0c9d1;
}
.bg-white{
    background-color: white;
}

/*----------------------------------------------------------------- The recipe*/
.recipe-title img {
    height: 25vh;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 0;
}

.border-bottom {
    border-bottom: 1px solid #ffc107!important;
}

.border-top {
    border-top: 1px solid #ffc107!important;
}

.container-the-recipe{
    background-color: white;
}

/*--------------------------------------------------- Add Recipe*/
.add-title-container{
    background-image: url('../images/condiments.jpg');
    height: 50vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 0;
}

.container-add-recipe{
    margin: 0;
} 

/*----------------------------------- MEDIA QUERIES*/

