{% extends 'base.html' %} {% block content %}

<!-- -------------------------------------------------------------Title  Section -->
<div class="container-fluid add-title-container">

    <div class="container-fluid">

        <div class="row border border-dark title-cookbook">
            <div class="col-12 text-center">
                <h2><strong>Add a New Cuisine!</strong></h2>
            </div>
        </div>

        <div class="row title-cook-today">
            <div class="col-12 text-center">
                <h3>Are you thinking in a new cuisine type? Add it!</h3>
            </div>
        </div>

    </div>
</div>

<!-- -------------------------------------------------------------Form  Section -->

<div class="row container-fluid container-add-recipe bg-soft-yellow">

    <form action="{{ url_for('insert_cuisine')}}" method="POST" class="col-12">
        
        <!-- ---------Cuisine Name -->
        <div class="form-group">
            <label for="category_name" class="font-weight-bold">Cuisine Name</label>
            <input type="text" class="form-control" id="cuisine_name" name="cuisine_name" required placeholder="Write here the name for the new cuisine type">
        </div>
        
        <!-- ---------Number of recipes in this Cuisine -->
        <div class="form-group d-none">
            <label for="number_of_recipes" class="font-weight-bold">Number of Recipes in this Category</label>
            <input type="text" class="form-control" id="number_of_recipes" name="number_of_recipes" value="0">
        </div>
        
        <!-- ---------Add Cuisine & Cancel buttons -->
         <div class="row">
            <div class="col-12">
                <p class="text-center">
                    <button class="btn btn-primary" type="submit">Add Cuisine</button>
                    <button class="btn btn-primary"  ><a href="{{ url_for('cookbook')}}">Cancel</a></button>
                </p>
            </div>
        </div>
    </form>
</div>
{% endblock %}