{% extends 'base.html' %} 
{% block content %}

<!-- -------------------------------------------------------------Title  Section -->
<div class="container-fluid add-title-container">

    <div class="container-fluid">

        <div class="row border border-dark title-cookbook">
            <div class="col-12 text-center">
                <h2><strong>Add a New Recipe!</strong></h2>
            </div>
        </div>

        <div class="row title-cook-today">
            <div class="col-12 text-center">
                <h3>Share with all of us your recipe, so everybody can enjoy of such delicious food</h3>
            </div>
        </div>

    </div>
</div>

<!-- -------------------------------------------------------------Form  Section -->

<div class="row container-fluid container-add-recipe bg-soft-yellow">

    <form action="{{ url_for('insert_recipe')}}" method="POST" class="col-12">
        
        <!-- ----------------------------------Elements Filled by the the user -->
        
        <!-- ---------Recipe Name -->
        <div class="form-group">
            <label for="recipe_name" class="font-weight-bold">Recipe Name</label>
            <input type="text" class="form-control" id="recipe_name" name="recipe_name" required placeholder="Write here the name of your recipe">
        </div>
        
         <!-- ---------Recipe Author -->
        <div class="form-group">
            <label for="recipe_name" class="font-weight-bold">Author</label>
            <input type="text" class="form-control" id="author" name="author" required placeholder="Author of recipe">
        </div>
        
        <!-- ---------Recipe Author Country of Origin -->
        <div class="form-group">
            <label for="author_country" class="font-weight-bold">Author Country of Origin</label>
            <input type="text" class="form-control" id="author_country" name="author_country"  required placeholder="Author of recipe">
        </div>
        

        <!-- ---------Recipe Category -->
        <div class="form-group">
            <label for="recipe_category" class="font-weight-bold">Category</label>
            <select class="selectpicker" id="recipe_category" name="recipe_category"  data-width="100%">
                {% for category in categories %}
                <option value="{{category.category_name}}">{{category.category_name}}</option>
                {% endfor %}
            </select>
        </div>
        
        <!-- ---------Recipe Cuisine -->
        <div class="form-group">
            <label for="cuisine" class="font-weight-bold">Cuisine</label>
            <select class="selectpicker" id="cuisine" name="cuisine" data-width="100%">
                {% for cuisine in cuisines %}
                <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                {% endfor %}
            </select>
        </div>

        <!-- ---------Recipe Description -->
        <div class="form-group">
            <label for="recipe_description" class="font-weight-bold">Description</label>
            <textarea class="form-control" id="recipe_description" name="recipe_description"  rows="3" required placeholder="Tell us something interesting about your recipe"></textarea>
        </div>

        <!-- ---------Recipe Portions -->
        <div class="form-group">
            <label for="number_of_portions" class="font-weight-bold">Portions</label>
            <textarea class="form-control" id="number_of_portions" name="number_of_portions" rows="1" required placeholder="How many people is your recipe for? How much food will be done here?"></textarea>
        </div>

        <!-- ---------Recipe Difficulty Level -->
        <div class="form-group">
            <label for="difficulty_level" class="font-weight-bold">Level of difficulty</label>
            <select class="selectpicker" id="difficulty_level" name="difficulty_level" data-width="100%">
                {% for dif in difficulty %}
                <option value="{{dif.level}}">{{dif.level}}</option>
                {% endfor %}
            </select>
        </div>

        <!-- ---------Recipe Allergens -->
        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label class="font-weight-bold">Possible allergens:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                     
                    {% for allergen in allergens %}
                    
                    <input type="checkbox" id="{{allergen.allergen_name}}" name="recipe_allergens"  value="{{allergen.allergen_name}}"data-width="100%"/>
                    
                    <label for="{{allergen.allergen_name}}" class="font-weight-bold">{{allergen.allergen_name}}</label>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- ---------Recipe Ingredients & Image area -->
        <div class="row">
            <!-- ---------Recipe Ingredients -->
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                            <label for="ingredients" class="font-weight-bold">Ingredients</label>
                        </div>
                    </div>
                    <div class="input_ingredient_wrap">
                        <div class="row">
                            <div class="col-12">
                                <button class="add_ingredient_button">Add More Ingredients</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div><input type="text" name="ingredients" required></div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
            
            <!-- ---------Recipe Image -->
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="recipe_image" class="font-weight-bold">Image</label>
                    <input type="text" class="form-control" id="recipe_image" name="recipe_image" required placeholder="Paste the URL of your recipe image">
                </div>
                
            </div>
        </div>
      
        <!-- ---------Recipe Method -->
        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label for="method" class="font-weight-bold">Method</label>
                </div>
            </div>
            <div class="input_method_wrap">
                <div class="row">
                    <div class="col-12">
                        <button class="add_method_button">Add More Steeps</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div><textarea class="form-control" id="method" name="method" rows="2" required placeholder="Add a steep to prepare your recipe"></textarea></div> 
                    </div>
                </div>
            </div>

        </div>

        <!-- ----------------------------------------Add Recipe & Cancel buttons -->
        <div class="row">
            <div class="col-12">
                <p class="text-center">
                    <button class="btn btn-primary" type="submit">Add Recipe</button>
                    <button class="btn btn-primary"  ><a href="{{ url_for('all_recipes')}}">Cancel</a></button>
                </p>
            </div>
        </div>
    </form>

</div>


{% endblock %}
