{% extends 'base.html' %}

{% block content %}

<!-- -------------------------------------------------------------Home Section -->
	<div class="container-fluid home-container">

    <div class="container-cookbook  container-fluid">
  		
  			<div class="row border border-dark title-cookbook">
  				<div class="col-12 text-center">
  					<h1><strong>MONICA'S COOKBOOK</strong></h1>
  				</div>
  			</div>
  		
  			<div class="row title-cook-today">
  				<div class="col-12 text-center">
  					<h2>What would you like to eat today?</h2>
  				</div>
  			</div>
		
		</div>
		
	</div>
	
	
<!-- -------------------------------------------------------------New Recipes Section -->

<!-- ---------------------------------------------------------Most Liked Recipes Section -->	

<!-- -------------------------------------------------------------Filter by Category Section -->

<div class="container-category bg-soft-yellow">
    <div class="row container-fluid">
      <div class="col-12 col-md-6 text-center align-self-center">
        <h3>Categories</h3>
      </div>
      
      <div class="col-12 col-md-6 ">
        
        <!-- -List of Categories -->
        <ul class="list-group list-group-flush">
        {% for category in categories %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-12 col-md-8">
                <a href="{{url_for('get_recipes', criteria_id=category._id)}}" class="text-decoration-none">{{category.category_name}}</a>
              </div>
              <div class="col-12 col-md-4">
               
                <a class="btn btn-primary btn-sm" href="{{url_for('edit_category', category_id=category._id)}}" role="button">Edit</a>
                <a class="btn btn-primary btn-sm" href="{{url_for('delete_category', category_id=category._id)}}" role="button">Delete</a>
              
              </div>
            </div>
              
              
            
            
          </li>
        {% endfor %}
        </ul>
        <!-- -Add New Category Button -->
        <div class="row container-fluid">
          <div class="col-12 margin-top">
            <p class="text-center">  <a class="btn btn-primary btn-sm" href="{{url_for('add_category')}}" role="button">Add Category!</a></p>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- -------------------------------------------------------------Filter by Cuisine Section -->


<!-- -------------------------------------------------------------Filter by Difficulty Level Section -->
{% for category in categories %}
      {{category.category_name}}
  {%endfor %}
  
<!--
{% for recipe in recipes %}
    {{recipe.recipe_name}}
  {{recipe.category}}
    {{recipe.difficulty_level}}
   

    {{recipe.likes}}
    {{recipe.dislikes}}
    {{recipe.liked_by}}
    {{recipe.disliked_by}}
    {{recipe.timestamp}}
    
 {% endfor %}
-->
{% endblock %}