{% extends 'base.html' %}

{% block content %}

<!-- -------------------------------------------------------------Title  Section -->
<div class="container-fluid add-recipe-title-container">

    <div class="container-fluid">

        <div class="row border border-dark title-cookbook">
            <div class="col-12 text-center">
                <h2><strong>Edit this Recipe!</strong></h2>
            </div>
        </div>

        <div class="row title-cook-today">
            <div class="col-12 text-center">
                <h3>Any idea about how to improve this recipe? Share it with us!</h3>
            </div>
        </div>

    </div>
</div>

<!-- -------------------------------------------------------------Form  Section -->

<div class="row container-fluid container-add-recipe bg-soft-yellow">
    
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col-12">
        
        <!-- -------------------------------Elements Filled by the the user -->
        
        <!-- ---------Recipe Name -->
        <div class="form-group">
            <label for="recipe_name" class="font-weight-bold">Recipe Name</label>
            <input type="text" class="form-control" id="recipe_name" name="recipe_name" value="{{recipe.recipe_name}}">
        </div>
        
         <!-- ---------Recipe Author -->
        <div class="form-group">
            <label for="recipe_name" class="font-weight-bold">Author</label>
            <input type="text" class="form-control" id="author" name="author" value="{{recipe.author}}">
        </div>
        
        <!-- ---------Recipe Author Country of Origin -->
        <div class="form-group">
            <label for="author_country" class="font-weight-bold">Author Country of Origin</label>
            <input type="text" class="form-control" id="author_country" name="author_country" value="{{recipe.author_country}}">
        </div>
        

        <!-- ---------Recipe Category -->
        <div class="form-group">
            <label for="recipe_category" class="font-weight-bold">Category</label>
            <select class="selectpicker" id="recipe_category" name="recipe_category" data-width="100%">
                {% for category in categories %}
                    {% if category.category_name == recipe.recipe_category %}
                        <option value="{{category.category_name}}" selected >{{category.category_name}}</option>
                    {% else %}
                        <option value="{{category.category_name}}">{{category.category_name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        
        <!-- ---------Recipe Cuisine -->
        <div class="form-group">
            <label for="cuisine" class="font-weight-bold">Cuisine</label>
            <select class="selectpicker" id="cuisine" name="cuisine" data-width="100%">
                {% for cuisine in cuisines %}
                    {% if cuisine.cuisine_name == recipe.cuisine %}
                        <option value="{{cuisine.cuisine_name}}" selected >{{cuisine.cuisine_name}}</option>
                    {% else %}
                        <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <!-- ---------Recipe Description -->
        <div class="form-group">
            <label for="recipe_description" class="font-weight-bold">Description</label>
            <textarea class="form-control" id="recipe_description" name="recipe_description"  rows="3">{{recipe.recipe_description}}</textarea>
        </div>

        <!-- ---------Recipe Potions -->
        <div class="form-group">
            <label for="number_of_portions" class="font-weight-bold">Portions</label>
            <textarea class="form-control" id="number_of_portions" name="number_of_portions" rows="1" >{{recipe.number_of_portions}}</textarea>
        </div>

        <!-- ---------Recipe Difficulty Level -->
        <div class="form-group">
            <label for="difficulty_level" class="font-weight-bold">Level of difficulty</label>
            <select class="selectpicker" id="difficulty_level" name="difficulty_level" data-width="100%">
                
                {% for dif in difficulty %}
                    {% if dif.level == recipe.difficulty_level %}
                        <option value="{{dif.level}}" selected >{{dif.level}}</option>
                    {% else %}
                        <option value="{{dif.level}}">{{dif.level}}</option>
                    {% endif %}
                {% endfor %}
                
                
            </select>
        </div>

        <!-- ---------Recipe Allergens -->
        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label class="font-weight-bold">Possible allergens:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                     
                    {% for allergen in allergens %}
                        {% if allergen['allergen_name'] == recipe['recipe_allergens'] %}
                            <input type="checkbox" id="{{allergen.allergen_name}}" name="recipe_allergens"  value="{{allergen.allergen_name}}" checked data-width="100%"/>
                            <label for="{{allergen.allergen_name}}" class="font-weight-bold">{{allergen.allergen_name}}</label>
                        {% else %}
                            <input type="checkbox" id="{{allergen.allergen_name}}" name="recipe_allergens"  value="{{allergen.allergen_name}}" data-width="100%"/>
                            <label for="{{allergen.allergen_name}}" class="font-weight-bold">{{allergen.allergen_name}}</label>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        

        <!-- ---------Recipe Ingredients & Image area -->
        <div class="row">
            <!-- ---------Recipe Ingredients -->
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                            <label for="ingredients" class="font-weight-bold">Ingredients</label>
                        </div>
                    </div>
                    <div class="input_ingredient_wrap">
                        <div class="row">
                            <div class="col-12">
                                <button class="add_ingredient_button">Add More Ingredients</button>
                            </div>
                        </div>
                        <div class="row">
                            {% for ingredient in recipe.ingredients %}
                            <div class="col-12">
                                
                                <div><input type="text" name="ingredients" value="{{ ingredient }}"/><a href="#" class="remove_ingredient">Remove</a></div>
                             </div>  
                            {% endfor %}
                            
                        </div>
                    </div>
            
                </div>
            </div>
            
            <!-- ---------Recipe Image -->
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="recipe_image" class="font-weight-bold">Image</label>
                    <input type="text" class="form-control" id="recipe_image" name="recipe_image" value="{{recipe.recipe_image}}">
                </div>
            </div>
        </div>
      
        <!-- ---------Recipe Method -->
        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label for="method" class="font-weight-bold">Method</label>
                </div>
            </div>
            <div class="input_method_wrap">
                <div class="row">
                    <div class="col-12">
                        <button class="add_method_button">Add More Steeps</button>
                    </div>
                </div>
                <div class="row">
                    {% for step in recipe.method %}
                        <div class="col-12">
                         
                            <div><textarea class="form-control" id="method" name="" rows="2">{{step}}</textarea> <a href="#" class="remove_method">Remove</a></div>
                        </div>  
                    {% endfor %}
                </div>
                
            </div>

        </div>
    
        <!-- ----------------------------------Save Changes & cancel buttons -->
        <div class="row">
            <div class="col-12">
                <p class="text-center">
                    <button class="btn btn-primary" type="submit" >Save Changes</button>
                    <button class="btn btn-primary"  ><a href="{{ url_for('the_recipe', recipe_id=recipe._id) }}">Cancel</a></button>
                </p>
            </div>
        </div>
       
    </form>

</div>

{% endblock %}