{% extends 'base.html' %}

{% block content %}


<div class="container-fluid " >
	  
	   <div class="container-cookbook  container-fluid">
  		
  			<div class="row border border-dark title-cookbook">
  				<div class="col-12 text-center">
  					<h2><strong>{{category.category_name}}</strong></h2>
  				</div>
  			</div>
  		
		
		</div>
		
	</div>

{% for recipe in recipes %}
{% if recipe.category_name == category.category_name %}

{% if loop.index % 2 != 0 %}

<div class="container-recipe bg-soft-yellow">
    <div class="row container-fluid">
        <div class="col-6">
            <div class="row container-fluid">
                <div class="col-12">
                    <a href=""><strong>{{recipe.recipe_name}}</strong></a>
                </div>
            </div>
            <div class="row container-fluid">
                <div class="col-12">
                    Likes
                </div>  
            </div>
            <div class="row container-fluid">
                <div class="col-12">
                    {{recipe.difficulty_level}}
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="{{recipe.recipe_image_url}}" alt="{{recipe.recipe_name}}">
        </div>
    </div>
</div> 
{% else %}
<div class="container-recipe bg-white">
    <div class="row container-fluid">
        <div class="col-6">
            <div class="row container-fluid">
                <div class="col-12">
                    <a href=""><strong>{{recipe.recipe_name}}</strong></a>
                </div>
            </div>
            <div class="row container-fluid">
                <div class="col-12">
                    Likes
                </div>  
            </div>
            <div class="row container-fluid">
                <div class="col-12">
                    {{recipe.difficulty_level}}
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="{{recipe.recipe_image_url}}" alt="{{recipe.recipe_name}}">
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{% endfor %}

<div class="row container-fluid">
  <div class="col-12">
    <p class="text-center">Would you like to add a new recipe?  <a class="btn btn-primary center" href="{{url_for('add_recipe')}}" role="button">Click Here!</a></p>
  </div>
</div>




  
<!--
{% for recipe in recipes %}
    {{recipe.recipe_name}}
  {{recipe.category}}
    {{recipe.difficulty_level}}
   

    {{recipe.likes}}
    {{recipe.dislikes}}
    {{recipe.liked_by}}
    {{recipe.disliked_by}}
    {{recipe.timestamp}}
    
 {% endfor %}
-->
{% endblock %}