{% extends 'base.html' %}

{% block content %}

<!-- -------------------------------------------------------------Title Section -->
	<div class="container-fluid home-container">

    <div class="container-fluid">
  		
  			<div class="row border border-dark title-cookbook">
  				<div class="col-12 text-center">
  					<h2><strong>{{difficulty.level}} Level</strong></h2>
  				</div>
  			</div>
  		
  			<div class="row title-cook-today">
  				<div class="col-12 text-center">
  					<h3>Here you can check all the {{difficulty.level}} recipes</h3>
  				</div>
  			</div>
		
		</div>
		
	</div>

<!-- -------------------------------------------------Display of Recipes Section -->
{% for recipe in recipes %}
{% if recipe.difficulty_level == difficulty.level %}


<!-- --Recipes in soft yellow container -->
{% if loop.index % 2 != 0 %}
<div class="container-recipe bg-soft-yellow">
    <div class="row container-fluid text-center">
        
        <div class="col-12 col-sm-6">
            <!-- Recipe Name-->
            <div class="row container-fluid">
                <div class="col-12">
                    <a href="{{url_for('the_recipe', recipe_id=recipe._id)}}" target="_blank"><strong>{{recipe.recipe_name}}</strong></a>
                </div>
            </div>
            <!-- Views-->
                <div class="row container-fluid">
                    <div class="col-12">
                        {{recipe.views}} - Views  <i class="far fa-eye"></i>
                    </div>  
                </div>
            <!-- Difficulty level-->
            <div class="row container-fluid">
                <div class="col-12">
                    {{recipe.difficulty_level}}
                </div>
            </div>
            <!-- Edit and Delete buttons-->
            <div class="row container-fluid d-none d-sm-block">
                <div class="col-12">
                    <p class="text-center">
                        <a class="btn btn-primary center" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" role="button">Edit</a>
                        <a class="btn btn-primary center" href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" role="button">Delete</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- Image of the recipe-->
        <div class="col-12 col-sm-6">
            <img src="{{recipe.recipe_image}}" alt="{{recipe.recipe_name}}">
        </div>
        
        <!-- Edit and Delete buttons for xs screens-->
        <div class="col-12 d-block d-sm-none">
               
                <a  href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" >Edit /</a>
                <a  href="{{url_for('delete_recipe', recipe_id=recipe._id)}}">Delete</a>
              
              </div>
    </div>
</div> 

<!-- --Recipes in white  container -->
{% else %}
<div class="container-recipe bg-white">
     <div class="row container-fluid text-center">
        <div class="col-12 col-sm-6">
            <!-- Recipe Name-->
            <div class="row container-fluid">
                <div class="col-12">
                    <a href="{{url_for('the_recipe', recipe_id=recipe._id)}}" target="_blank"><strong>{{recipe.recipe_name}}</strong></a>
                </div>
            </div>
            <!-- Views-->
                <div class="row container-fluid">
                    <div class="col-12">
                        {{recipe.views}} - Views  <i class="far fa-eye"></i>
                    </div>  
                </div>
            <!-- Difficulty level-->
            <div class="row container-fluid">
                <div class="col-12">
                    {{recipe.difficulty_level}}
                </div>
            </div>
            <!-- Edit and Delete buttons-->
            <div class="row container-fluid d-none d-sm-block">
                <div class="col-12">
                    <p class="text-center">
                        <a class="btn btn-primary center" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" role="button">Edit</a>
                        <a class="btn btn-primary center" href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" role="button">Delete</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- Image of the recipe-->
        <div class="col-12 col-sm-6">
            <img src="{{recipe.recipe_image}}" alt="{{recipe.recipe_name}}">
        </div>
        
        <!-- Edit and Delete buttons for xs screens-->
        <div class="col-12 d-block d-sm-none">
               
                <a  href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" >Edit /</a>
                <a  href="{{url_for('delete_recipe', recipe_id=recipe._id)}}">Delete</a>
              
              </div>
    </div>
</div>
{% endif %}
{% endif %}
{% endfor %}

<!-- -------------------------------------------------------------Add New Recipe Button -->
<div class="bg-soft-yellow">
  <div class="col-12">
    <p class="text-center">Would you like to add a new recipe?  <a class="btn btn-primary" href="{{url_for('add_recipe')}}" target="_blank" role="button">Click Here!</a></p>
  </div>
</div>

{% endblock %}